<style>
*{
box-sizing: border-box;
padding: 0;
margin: 0;
overflow-x: hidden;
}
body {
    background-image: url(./imagenes/pool.png);
}
header{
    width: 100%;
padding: 10px;
font-family: 'Yuji Boku', serif;
background-color: black;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column-reverse;
}
header ol{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}
header ol a,header a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.logo{
  
    font-size:19px;
    padding: 10px 20px;
    border-radius: 10px  0px 10px 0px;
     margin: 0 5px;
    transition:  .3s all ease-in;
}
header ol a li{
    font-size:17px;
    padding: 10px 20px;
    border-radius: 10px  0px 10px 0px;
     margin: 0 5px;
    transition:  .3s all ease-in;
}
header ol a li:hover{
    background-color: white;
    color: black;
}
.checkBtn{
    display: none;
}
        @media only screen and (max-width: 650px) {
    .checkBtn{
      display: block;
     width: 25px;
     height: 25px;
     cursor: pointer;
     position: relative;
     appearance: none;
     -webkit-appearance:  none;
}
.checkBtn::before{
content: '\f0c9';
font-family: 'Font Awesome 5 Free';
font-weight: 700;
font-size: 1.5em;
color: white;
}
.checkBtn:checked::before{
    content: '\f00d';
}

      header ol{
position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    z-index: 100;
    padding: 1.2em;
    background-color: black;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .4s clip-path;
}
.checkBtn:checked ~ ol{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
 header ol a li{
    margin: 5px 0;
 }
 header ol::before{
    content: '';
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 5px;
    background-color: grey;
    top: 98%;
    left: 0;
 }
}
.seccion1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 4vh;
  
    font-family: 'Yuji Boku', serif;
}
a {
        box-shadow: inset 0 0 0 0 #b4b4b4;
        color: #f0f5f7;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      }
      a:hover {
        box-shadow: inset 100px 0 0 0 #d0e7f0;
        color: white;
      }

a:hover {
    color #255784;
   
transition-delay: 1s;
box-shadow: 0 0 10px #9fb3c4, 0 0 40px #2196f3, 0 0 80px #2196f3

}



h4 {
    font-family: 'Yuji Boku', serif;
}
.ubicacion {
    font-family: 'Secular One', sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

footer {
    background: url('http://i.imgur.com/f4jGhSF.png') repeat center;
    display: table;
    width: 100vw;
    height: 8rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: .875rem;
  }
  
  .wrapper {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
  }
  
  footer small {
    color: #ccc;
    letter-spacing: .025rem;
    margin-bottom: 1.5rem;
    display: block;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #c74f78;
    margin: 0 .5rem;
    display: inline-block;
  }
  
  .footer-nav a:hover {
    color: #f26896;
    transition: color .15s ease-in-out;
  }
  